.parent {
    position: relative;
    width: 700px;
    height: 500px;
    border: 6px solid purple;
}
.child { position: absolute;
    background: red;
    height: 150px;
    width: 150px;
    
}
.child1{
    top:100px;
    left: 50px;
}
.child2{
    right: 50px;
    bottom: 100px;
}